@import "../../omega_nmu/scss/base";
/****** FinAidToolbox ******/

body {
	background-color:#b2b275;
	#zone-content label {
		display:inline-block;
	}
}


.zone-content-wrapper-finaidtoolbox {}
.zone-content-finaidtoolbox {  //the majority of the page is in the content zone for this site since we needed a full page length right bar
	min-width:320px;
	table {
		border-collapse: inherit;
	}

}

	//in order for the two header elements to look like one, some padding and margin tweaks are needed.  in most cases this one-ness is done with wrapper elements but because of the layout of this page with the spanning sidebar wrappers could not be used
	.region-header-first-finaidtoolbox {
		background-color:$base-color-light;
		padding-left:10px;
		height:70px;
		.finaidtoolbox-header-logo {
			padding:7px 5px 5px 5px;
		}
	}
	.region-header-second-finaidtoolbox {
		background-color:$base-color-light;
		padding-left:10px;
		height:70px;
		position:relative; //used for the punched out corner
		overflow:hidden;  //hide the punched out corner
		div.finaidtoolbox-header-text {
			@include rem-font-size(35, '!important');
			@include rem-line-height(35);
			font-weight:600;
			color:white;
			//font-family: $callout-font-family;
			padding:15px 10px 10px;
			a {
				text-decoration:none;
				color:white;
			}
		}
	}
	//the div selector is needed to make sure the margin overrides the omega margin.
	div.region-header-second-finaidtoolbox {
		margin-left:-10px;  //this is removing 20 pixels of margin, the 10 applied by omega and the -10 applied here.  this margin is replaced with padding on the first and second header elements
	}


	.region-menu-finaidtoolbox {
		background-color:#999966;
		//left/right padding has to be applied to this region within the blocks.  any l/r padding will break the layout of this element

		.finaidtoolbox-pathfinder-menu {
			margin:10px;
			padding:10px;
			background-color:#ffffcc;
			height:50px;  //this region must have a height or the floated progress elements will overlap the bottom border
			h2{
				@include rem-font-size(25, '!important');
				@include rem-line-height(25);
				margin:0px;
				margin-bottom:8px;
			}
		}
		.finaidtoolbox-progress-label {
			float:left;
			padding-right:10px;
			font-weight:600;
			@include rem-font-size(15, '!important');
		}
		.finaidtoolbox-progress-bar {
			color:$contrast-color;
			float:left;
			background-color:$base-color-light;
			padding:2px;
			a,
			a:visited{
				text-decoration:none;
				color:$contrast-color;
				padding: 5px 20px;
			}
			a:first-child{
				margin-left:5px;
			}
			a:last-child {
				margin-right:5px;
			}
			a:hover,
			a.bar-active{
				background-color:$contrast-color;
				color:$base-color-light;
			}
		}
	}
	//this margin was adjusted to accommodate the border applied in the region
	div.region-menu-finaidtoolbox,
	div.region-content-finaidtoolbox{

	}

	.region-content-finaidtoolbox {
		background-color:#999966;
		margin-bottom:30px;

		.next_button {
			position: absolute;
			bottom: -32px;
			right: 10px;

			text-align: center;

			a, a:visited {
				border: 1px solid #c1c19e;
				padding: 7px;
				color:white;
				text-decoration:none;
				background-color:$base-color-light;
			}
			a:hover {
				background-color:$base-color;
			}
		}

		.content {
			margin:10px;
			background-color:#ffffcc;
			padding: 0 5px;  //this is only set to 5 because there are two content divs wrapped around each other.  this padds the body text
		}

		.finaidtoolbox-pathfinder-wrapper {
			background-color:#999966;
			margin: -20px -30px;

		}

		.finaidtoolbox-pathfinder-number {
			background-image:url('../images/number_circle.png');
			background-repeat:no-repeat;
			position:relative;
			top:-10px;
			left:-10px;
			width:25px;
			height:25px;
			padding-top: 3px;
			font-weight: 600;
			margin-bottom: -10px;
			color:$base-color-light;
			text-align:center;
		}
		.finaidtoolbox-pathfinder-step {
			background-color:#ffffcc;
			padding:5px;
			display:table-cell;
			border-right:5px solid #999966;
			border-left:10px solid #999966;
			h3 {
				margin-top:5px;
			}
		}
		.finaidtoolbox-pathfinder-image {
			background-color:white;
			display:table-cell;
			vertical-align:middle;
			border-right:10px solid #999966;
			border-left:5px solid #999966;
		}
		.finaidtoolbox-pathfinder-clear {
			clear:both;
			height:10px;
		}

		img[align="left"],
		img[style*="float: left"],
		img[style*="float:left"]{ //more about attribute selectors: http://css-tricks.com/attribute-selectors/ -and- http://quirksmode.org/css/selectors/selector_attribute.html
			padding-right:5px;
		}
		img[align="right"],
		img[style*="float: right"],
		img[style*="float:right"]{
			padding-left:5px;
		}
	}

	aside.region-sidebar-second-finaidtoolbox {
		float:right;
		//margin-left:0;
		//padding-left:10px;
	}
	.region-sidebar-second-finaidtoolbox {
		min-height:250px;
		//padding-top:10px;
	}

	.sidebar-block-wrapper {}

	.sidebar-block-header {
		h1 {
			margin:0;
			@include rem-font-size(30, '!important');
			@include rem-line-height(30);
			font-weight:600;
			color:white;
			//font-family: $callout-font-family;
			padding:10px;
			text-align:center;
		}
		color:white;
		padding:10px;
		margin-bottom: -15px;
		position:relative;  //used for the punched out corner
		overflow:hidden;  //hide the punched out corner
	}
	.block-header-blue {background-color: #3333cc;}
	.block-header-yellow {background-color: #ffcc33;}
	.block-header-red {background-color: #993300;}
	.sidebar-block-body {
		padding:10px;
		margin-bottom:20px;
		background-color: #DDDEA5;
		a.nav-active {
			color:black;
			text-decoration:none;
		}
	}


.FinancialAidToolbox #footer_region_first {
	img#footer_logo {
    padding-left: 25px;
    display:none;
	}
}

.zone-footer-wrapper-finaidtoolbox {}
.zone-footer-finaidtoolbox {
	min-width:320px;
	margin-top:20px;
	p, span {
		@include rem-font-size(12, '!important');
	}
}


	//in order for the two footer elements to look like one, some padding and margin tweaks are needed.  in most cases this one-ness is done with wrapper elements but because of the layout of this page with the spanning sidebar wrappers could not be used
	.region-footer-first-finaidtoolbox {
		padding-top:13px;  //align the logo with the footer text
		background-color:#999966;
		padding-left:10px;
		height:100px;
		padding-bottom:20px;
		text-align:center;
	}
	.region-footer-second-finaidtoolbox {
		color:white;
		background-color:#999966;
		margin-left:-20px;  //this is removing 20 pixels of margin, the 10 applied by omega and the -10 applied here.  this margin is replaced with padding on the first and second footer elements
		padding-right:10px;
		height:113px;  //this height accommodates the 13px of padding used to align the logo
		padding-bottom:20px;
		p {
			padding-top:5px;
		}
		a,
		a:visited {
			color:#e0e0e0;
			text-decoration:none;
		}
		a:hover {
			text-decoration:underline;
			color:#ccc;
		}
	}
	//the div selector is needed to make sure the margin overrides the omega margin.
	div.region-footer-second-finaidtoolbox {
		margin-left:-10px;  //this is removing 20 pixels of margin, the 10 applied by omega and the -10 applied here.  this margin is replaced with padding on the first and second footer elements
	}

	#footer_region_second {
	  padding-top:30px !important;
	}
