/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

//-------------------------------------header
.zone-header {
	background-color:#e5e5e5;
}
	.region-header-first {
		background-color:yellow;
	}
	.region-header-second {
		background-color:orange;
	}

//-------------------------------------branding
.zone-branding{
	background-color:#e5e5e5;
}
	.region-branding {
		background-color:red;
	}

//-------------------------------------menu
.zone-menu {
	background-color:#e5e5e5;
}
	.region-menu {
		ul {
			margin:0px;
			padding:0px;
			list-style:none;
			li {
				border-bottom:1px solid white;
			}
			a {
				display:block;
				padding:10px 10px 10px 30px;
				color:black;
				background-color:#ccc;
				text-decoration:none;
			}
			a:hover {
				background-color:green;
			}
		}
	}

//-------------------------------------content
.zone-content {
		background-color:#e5e5e5;
}
	.region-content {
		background-color:blue;
	}
	.region-sidebar-first {}
	.region-sidebar-second {
		background-color:red;
		min-height:250px;
	}

//-------------------------------------postscript
.zone-footer {
	background-color:#e5e5e5;
}
	.region-footer-first {
		margin-top:13px;  //align the logo with the footer text
		background-color:yellow;
	}
	.region-footer-second {
		background-color:green;
	}
